ul{
    li{
        display: inline;
        margin-right: 20px;
        margin-left: 20px;
        a{
            text-decoration: none;
            font-size: 24px;
        }
    }
}

#signout {
    cursor: pointer;
}