<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="padding:0;" routerLink="/home"
        ><img src="assets/img/angular.png" style="height:50px;" alt=""
      /></a>
    </div>
    <div
      class="collapse navbar-collapse"
      id="bs-example-navbar-collapse-1"
    >
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/meteo">Météo</a></li>
        <li routerLinkActive="active">
          <a routerLink="/manifestations-culturelles"
            >Culture</a
          >
        </li>
        <li routerLinkActive="active"><a routerLink="/recette">Recettes</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cartes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active"><a routerLink="/radar">Radars</a></li>
            <li role="separator" class="divider"></li>
            <li routerLinkActive="active"><a routerLink="/aeroport">Aéroports</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li style="margin-top: 3px;">
          <app-ville></app-ville>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  $('.navbar-collapse a').click(function() {
    $('.navbar-collapse').collapse('hide');
  });
</script>
