ul li {
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
}

ul li a {
  text-decoration: none;
  font-size: 24px;
}

#signout {
  cursor: pointer;
}
/*# sourceMappingURL=header.component.css.map */