div.jumbotron {
  width: 80%;
  margin: auto;
  padding: 20px;
  display: grid;
  > h2 {
    text-align: center;
  }
  form {
    display: grid;
    > div {
      margin-top: 20px;
      label {
        text-align: right;
        &::after {
          content: ' : ';
        }
      }
    }
  }
}

ul {
  //width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  li {
    list-style-type: none;
    &:nth-child(even) {
      background-color: rgba(245, 75, 75, 0.13);
    }
    &:nth-child(odd) {
      background-color: rgba(206, 231, 248, 0.5);
    }
  }
}

code {
  padding: 20px;
  margin-top: 20px;
}

p {
  margin: 10px;
  padding: 10px;
  background-color: rgba(175, 238, 238, 0.281);
  font-size: 16px;
}
