div.jumbotron {
  width: 80%;
  margin: auto;
  padding: 20px;
  display: -ms-grid;
  display: grid;
}

div.jumbotron > h2 {
  text-align: center;
}

div.jumbotron form {
  display: -ms-grid;
  display: grid;
}

div.jumbotron form > div {
  margin-top: 20px;
}

div.jumbotron form > div label {
  text-align: right;
}

div.jumbotron form > div label::after {
  content: ' : ';
}

ul {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

ul li {
  list-style-type: none;
}

ul li:nth-child(even) {
  background-color: rgba(245, 75, 75, 0.13);
}

ul li:nth-child(odd) {
  background-color: rgba(206, 231, 248, 0.5);
}

code {
  padding: 20px;
  margin-top: 20px;
}

p {
  margin: 10px;
  padding: 10px;
  background-color: rgba(175, 238, 238, 0.281);
  font-size: 16px;
}
/*# sourceMappingURL=manifestations-culturelles.component.css.map */