<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <h2>Manifestations culturelles</h2>
  <div *ngIf="errors || manifestations; else preloader">
    <div *ngIf="errors">
      <h1>{{ errors.error ? errors.error : '' }}</h1>
      <br />
      <code style="padding: 20px;margin-top: 20px;">{{ errors.error }}</code>
    </div>
    <div *ngIf="manifestations" class="">
      <ul>
        <li *ngFor="let manifestation of manifestations; let i = index">
          <div style="padding:10px;">
            <h3>{{ manifestation.fields.commune }}</h3>
            <h4>
              {{ manifestation.fields.nom_de_la_manifestation }}
            </h4>
            <div *ngIf="manifestation.fields.date_debut">
              du
              {{ manifestation.fields.date_debut | date: 'dd/MM/yyyy' }} au
              {{ manifestation.fields.date_fin | date: 'dd/MM/yyyy' }}
            </div>
            <p>
              {{ manifestation.fields.descriptif_long }}
            </p>
            <div *ngIf="manifestation.fields.reservation_site_internet">
              <a
                class="btn btn-xsmall btn-default"
                href="http://{{
                  manifestation.fields.reservation_site_internet
                }}"
                target="_blank"
                ><span
                  class="glyphicon glyphicon-link"
                  style="margin-right: 10px;"
                ></span
                >Lien vers le site</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #preloader>
  <div class="raw">
    <div class="loader" id="loader-1">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</ng-template>
