<div *ngIf="errors || meteo; else preloader">
  <div *ngIf="errors">
    <div class="raw">
      <h1>{{ errors.errors[0].text }}</h1>
      <br />
      <code>{{ errors.errors[0].description }}</code>
    </div>
  </div>
  <div *ngIf="meteo" class="col-xs-12">
    <div class="raw">
      <h1>{{ meteo.city_info?.name || '' }}</h1>
      <h3>
        {{ meteo.current_condition.date | replace: '\\.':'\/' }} -
        {{ paramsService.getHeure() }}
      </h3>
      
      <h3 *ngIf="temperature && meteo.fcst_day_0">
        {{
          (meteo.fcst_day_0.hourly_data)[paramsService.getHeure()].TMP2m
        }}°C
      </h3>
      <h3 *ngIf="condition">
        {{
          (meteo.fcst_day_0?.hourly_data)[paramsService.getHeure()].CONDITION
        }}
      </h3>
      <p *ngIf="icon">
        <img
          src="{{
            (meteo.fcst_day_0?.hourly_data)[paramsService.getHeure()].ICON
          }}"
        />
      </p>
      <p>
        <button [ngClass]="classBouton" (click)="tooglePrevisionnel()"> <span [ngClass]="classSpan[previsionnel]"></span>
          Prévisionnel</button>
      </p>
      <div *ngIf="previsionnel">
        <h4>Prévisionnel</h4>
      </div>
    </div>
    <app-widget-meteo></app-widget-meteo>
  </div>
</div>

<ng-template #preloader>
  <div class="raw">
    <div class="loader" id="loader-1">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</ng-template>
