<div *ngIf="errors || recette || recettes; else preloader">
  <div *ngIf="errors">
    <div class="raw">
      <h1>{{ errors.errors[0].text }}</h1>
      <br />
      <code>{{ errors.errors[0].description }}</code>
    </div>
  </div>

  <div *ngIf="!liste" class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="raw">
      <h2>{{ recette.titre }}</h2>
      <h4>{{ recette.soustitre }}</h4>
      <h3>Ingrédients</h3>
      <ul>
        <li *ngFor="let ingredient of recette.ingredients; let i = index">
          {{ ingredient.quantite }}{{ ingredient.unite }}
          {{ ingredient.libelle }}
        </li>
      </ul>

      <h3>Préparation</h3>

      <ol>
        <li *ngFor="let etape of recette.etapes">
          {{ etape.texte }}
        </li>
      </ol>
    </div>
  </div>

  <div *ngIf="liste" class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="raw">
      <h3>Recettes</h3>
      <ul>
        <li *ngFor="let recette of recettes; let i = index">
          <a class="btn btn-default" routerLink="/recette/{{ i }}">{{ recette.titre }}</a>
          <a class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #preloader>
  <div class="raw">
    <div class="loader" id="loader-1">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</ng-template>
