<!-- TODO :
    liste de villes
    click sur ville
    appel composant meteo
-->
{{ villes | json }}

<!--
        nom: string;
    code?: string;
    cp?: number;
-->

<ul>
    <li *ngFor="let ville of villes; let i=index ">
       <div (click)="selectVille(i)">{{ ville.nom | uppercase}} ({{ ville.code }})</div>
    </li>
</ul>