<div class="raw">
  <!--   <br/>
    <h2>Saisir une ville</h2>
    <br/> -->
  <form [formGroup]="villeForm" (ngSubmit)="onSubmit()" class="form-inline">
    <div class="form-group" style="display: flex;">
      <!-- <label for="ville" class="col-sm-1 control-label">Ville</label> -->
      <div class="col-sm-9">
        <input
          type="text"
          id="ville"
          class="form-control"
          formControlName="ville"
          placeholder="Ex : Paris"
        />
      </div>

      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="villeForm.invalid"
      >
        Météo
      </button>
      <a class="btn btn-default" routerLink="/param-meteo" style="margin-left:5px;">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
    </div>

    <p class="text-danger">{{ errorMessage }}</p>
  </form>
</div>
<!-- <app-villes [ville]="ville" (villeSelected)="villeSelected($event)"></app-villes> -->
