<p>widget-meteo works!</p>
<div *ngIf="donnees; else preloader">
    {{ donnees.city_info.name }}
    <table>
        <tr>
            <td *ngFor="let item of donnees.fcst_day_0.hourly_data" [ngStyle]="{'border':'1px solid red'}">
                {{ item.TMP2m }}
            </td>
        </tr>
    </table>
</div>
<ng-template #preloader>
    <div class="raw">
      <div class="loader" id="loader-1">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </ng-template>
