div.jumbotron {
  width: 30%;
  margin: auto;
  > h2 {
    text-align: center;
  }
  form {
    display: grid;
    div {
      margin-top: 20px;
      label {
        text-align: right;
        line-height: 30px;
        &::after {
          content: ' : ';
        }
      }
      &.checkbox {
        text-align: right;
        label {
          text-align: initial;
          &::after {
            content: '';
          }
          input{
            height: min-content;
            margin: 0;
          }
        }
      }
    }
  }
}
