div.jumbotron {
  width: 30%;
  margin: auto;
}

div.jumbotron > h2 {
  text-align: center;
}

div.jumbotron form {
  display: -ms-grid;
  display: grid;
}

div.jumbotron form div {
  margin-top: 20px;
}

div.jumbotron form div label {
  text-align: right;
  line-height: 30px;
}

div.jumbotron form div label::after {
  content: ' : ';
}

div.jumbotron form div.checkbox {
  text-align: right;
}

div.jumbotron form div.checkbox label {
  text-align: initial;
}

div.jumbotron form div.checkbox label::after {
  content: '';
}

div.jumbotron form div.checkbox label input {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0;
}
/*# sourceMappingURL=param-meteo.component.css.map */