<div class="raw jumbotron">
  <h2>Paramètres</h2>
  <form [formGroup]="paramForm" (ngSubmit)="onSubmit()" class="form-inline">
    <div class="col-sm-12">
      <label class="col-xs-12 col-sm-5">Heure</label>
      <select
        name="heure"
        class="form-control col-xs-12 col-sm-7"
        formControlName="heure"
        [(ngModel)]="heure"
      >
        <option [ngValue]="null" disabled>Choisir l'heure</option>
        <option *ngFor="let hour of hours" [ngValue]="hour">{{ hour }}</option>
      </select>
    </div>

    <div class="checkbox col-xs-12 col-sm-offset-4 col-sm-7">
        <label for="icon" class="col-xs-12 col-sm-7">
          <input
            id="icon"
            type="checkbox"
            name="iconChecked"
            class="form-control"
            formControlName="icon"
            [(ngModel)]="icon"
          />
          Afficher icone</label
        >
    </div>

    <div class="checkbox col-xs-12 col-sm-offset-4 col-sm-7">
      <label for="condition" class="col-xs-12 col-sm-7">
        <input
          id="condition"
          type="checkbox"
          name="conditionChecked"
          class="form-control"
          formControlName="condition"
          [(ngModel)]="condition"
        />
        Afficher condition</label
      >
  </div>

  <div class="checkbox col-xs-12 col-sm-offset-4 col-sm-7">
    <label for="temperature" class="col-xs-12 col-sm-7">
      <input
        id="temperature"
        type="checkbox"
        name="temperatureChecked"
        class="form-control"
        formControlName="temperature"
        [(ngModel)]="temperature"
      />
      Afficher temperature</label
    >
</div>

    <div class="text-center">
      <button class="btn btn-primary mr-1" type="submit">Valider</button>
      <button class="btn btn-default" type="reset" (click)="onReset()">
        Effacer
      </button>
    </div>
    <div *ngIf="submitted && paramForm.invalid" class="invalid-feedback">
      <div>Erreur de saisie</div>
    </div>
  </form>
</div>
