<div class="col-xs-12 col-sm-6 col-sm-offset-3">
<img src="assets/img/angular8.png"/>

<p>
        <br/>
    <b>Angular</b> est un framework côté client open source basé sur <b>TypeScript</b> dirigée par l'équipe du projet Angular à <b>Google</b> 
    et par une communauté de particuliers et de sociétés.
</p>
</div>
